<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- ADB-only setting/reconnect controls are exported only in debug builds. -->
        <receiver
            android:name=".diagnostics.SettingsReceiver"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
